#card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 350px;
}

#card-content {
    padding: 0.8rem 1.5rem;
}

#card-title {
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}

