.main-header {
  width: 100%;
  height: 14vh;
  padding: 2rem;
}

.main-expense-screen {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 0 2rem 2rem 2rem;
  height: calc(100vh - 14vh);
  /* border: 5px solid black; */
}
