<div style="height: 100%; display: flex; justify-content: center; align-items: center;">
    <app-card>
        <h2 class="title">LOGIN</h2>
        <form class="form login-form">
            <label for="user-email" style="padding-top:13px">
                &nbsp;Email
            </label>
            <input id="user-email" class="form-content" type="email" name="email" autocomplete="on" required />
            <label for="user-password" style="padding-top:22px">&nbsp;Password
            </label>
            <input id="user-password" class="form-content" type="password" name="password" required />
            <input id="submit-btn" type="submit" (click)="onSubmit()" value="LOGIN" />
            <a href="#" id="signup">Don't have account yet?</a>
        </form>
    </app-card>
</div>
<!-- <router-outlet></router-outlet> -->