<div class="expense-history">
    <div class="history-title">
        <h2><i class="fa-solid fa-clock-rotate-left"></i> Expense History</h2>
    </div>
    <div class="history">
        <div class="card">
            <div class="card-body">
                <div class="flex justify-content-between card-header">
                    <div class="">
                        <h5 class="expense-name">Expense Name</h5>
                    </div>
                    <div>
                        <h5 class="expense-date">00/00/0000</h5>
                    </div>
                </div>

                <div class="flex justify-content-between align-items-center w-100">
                    <div style="width: 80%;">
                        <h6 class="card-subtitle mb-1 text-muted">Paid By : <span>Raj Patel</span></h6>
                        <p class="card-text">
                            <span>Name: </span><span class="distributed-price">&#x20b9; 0 </span>|
                            <span>Name: </span><span class="distributed-price">&#x20b9; 0 </span>|
                            <span>Name: </span><span class="distributed-price">&#x20b9; 0 </span>
                        </p>
                    </div>
                    <div style="width: 20%; text-align: center;">
                        <h2 class="expense-price">&#x20b9; 0</h2>
                    </div>
                </div>


            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="flex justify-content-between card-header">
                    <div class="">
                        <h5 class="expense-name">Expense Name</h5>
                    </div>
                    <div>
                        <h5 class="expense-date">00/00/0000</h5>
                    </div>
                </div>

                <div class="flex justify-content-between align-items-center w-100">
                    <div style="width: 80%;">
                        <h6 class="card-subtitle mb-1 text-muted">Paid By : <span>Raj Patel</span></h6>
                        <p class="card-text">
                            <span>Name: </span><span class="distributed-price">&#x20b9; 0 </span>|
                            <span>Name: </span><span class="distributed-price">&#x20b9; 0 </span>|
                            <span>Name: </span><span class="distributed-price">&#x20b9; 0 </span>
                        </p>
                    </div>
                    <div style="width: 20%; text-align: center;">
                        <h2 class="expense-price">&#x20b9; 80</h2>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>