<div class="header">
    <div class="brand-logo">
        <div class="logo">
            <img src="../assets/images/logo.png" alt="Logo" width="55px">
        </div>
        <div class="title">
            <h1>MedSquad Split Bill Manager</h1>
        </div>
    </div>
    <div class="links-section">
        <p-button styleClass="p-button-success p-button-sm text-center btn">
            <span class="ml-2 w-100" style="font-weight: 500; font-size: 1rem;">
                <i class="fa-solid fa-user-plus"></i><span class="header-btn-text">Add Member</span></span>
        </p-button>
    </div>
</div>