<div class="header">
    <div class="brand-logo">
        <div class="logo">
            <img src="../assets/images/logo.png" alt="Logo" width="55px">
        </div>
        <div class="title">
            <h1>MedSquad Expense Manager</h1>
        </div>
    </div>
    <div class="links-section">
        <p-button styleClass="p-button-success p-button-sm text-center btn">
            <span class="ml-2 w-100" style="font-weight: 500; font-size: 1rem;">
                <i class="fa-solid fa-user-plus"></i> Add Member</span>
        </p-button>
        <!-- <a href="new"> <i class="fa-solid fa-user-plus"></i>Add Member</a> -->
        <!-- <a href="home"> <i class="fa-solid fa-clock-rotate-left"></i>History</a> -->
    </div>
</div>